.wrapper {
  min-height: 100vh;
  @include set-background($color-medium-grey);
}

.section {
  max-width: $max-width-section;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.button {
	background: $color-medium-blue;
	border: 0;
	outline: 0;
  color: $color-white;
  font-weight: 700;
	padding: 1rem;
	min-width: 150px;
	border-radius: 3px;
	cursor: pointer;

  &:hover,
  &:focus {
		background: lighten($color-medium-blue, 10%);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-close {
  min-width: 30px;
  min-height: 30px;
  background-color: $color-red;
  font-size: 1.7rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
		background: lighten($color-red, 10%);
  }
}

.button-check {
  background-color: $color-green;

  &:hover,
  &:focus {
		background: lighten($color-green, 10%);
  }
}

// MODALS

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__wrapper-inner {
  // make the modal content scrollable, apparently contradictory with position: fixed in modal__wrapper (needs a parent with fixed height?)
  // height must be the same as fixed wrapper
  // see: https://github.com/euvl/vue-js-modal/issues/147
  height: 100vh;
  width: 100vw; 
  overflow: auto; 
}

// dark overlay 
.modal__wrapper-inner::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-medium-grey;
  opacity: 0.9;
  z-index: -1;
}

.modal__container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 5px;
  border-radius: 5px;
  @include set-background($color-light-grey);
  opacity: 1.5; 
}


// disabling window scroll when modal is open (applied to body)

.modal-open {
  overflow: hidden;
}


// TRANSITION

.fade-enter-active {
	transition: opacity 0.5s;
}
.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($color-dark-grey, 0.4);
	z-index: 9999;

	p {
		@include set-background($color-white);
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
    padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($color-dark-grey, 0.5);
	}
}