.wrapper {
  min-height: 100vh;
  @include set-background($color-medium-grey);
}

.section {
  max-width: $max-width-section;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.button {
	background: $color-medium-blue;
	border: 0;
	outline: 0;
  color: $color-white;
  font-weight: 700;
	padding: 1rem;
	min-width: 150px;
	border-radius: 3px;
	cursor: pointer;

  &:hover,
  &:focus {
		background: lighten($color-medium-blue, 10%);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-close {
  min-width: 30px;
  min-height: 30px;
  background-color: $color-red;
  font-size: 1.7rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
		background: lighten($color-red, 10%);
  }
}

.button-check {
  background-color: $color-green;

  &:hover,
  &:focus {
		background: lighten($color-green, 10%);
  }
}

// disabling window scroll when modal is open (applied to body)

.modal-open {
  overflow: hidden;
}


// transition

.fade-enter-active {
	transition: opacity 0.5s;
}
.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($color-dark-grey, 0.4);
	z-index: 9999;

	p {
		background: $color-white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
    padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($color-dark-grey, 0.5);
	}
}