.wrapper {
  min-height: 100vh;
  @include set-background($color-medium-grey);
}

.section {
  max-width: $max-width-section;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.button {
	background: $color-medium-blue;
	border: 0;
	outline: 0;
  color: $color-white;
  font-weight: 700;
	padding: 1rem;
	min-width: 150px;
	border-radius: 3px;
	cursor: pointer;

  &:hover,
  &:focus {
		background: lighten($color-medium-blue, 10%);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-close {
  min-width: 30px;
  min-height: 30px;
  background-color: $color-red;
  font-size: 1.7rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
		background: lighten($color-red, 10%);
  }
}

.button-check {
  background-color: $color-green;

  &:hover,
  &:focus {
		background: lighten($color-green, 10%);
  }
}

// disabling window scroll when modal is open (applied to body)

.modal-open {
  overflow: hidden;
}