@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


// Set text color based on background
@function set-text-color($color) {
  @if(lightness($color) > 60) {
      @return $color-dark-grey;
  } @else {
      @return $color-light-grey;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// GLOBAL STYLES
* {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  cursor: pointer;
  color: $color-medium-blue;

  &:hover {
    color: lighten($color-medium-blue, 8%)
  }
}
