@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


// Set text color based on background
@function set-text-color($color) {
  @if(lightness($color) > 60) {
      @return $color-dark-grey;
  } @else {
      @return $color-light-grey;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// GLOBAL STYLES

html {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;  
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: $color-medium-blue;

  &:hover {
    color: lighten($color-medium-blue, 8%)
  }
}

textarea,
input[type=text],
option,
select {
  font-family: inherit;
  font-size: 14px;
}

button {
  font-family: inherit;
  font-size: 16px;
}
