// COLORS

$color-white: #FFF;
$color-black: #000;
$color-dark-grey: #2c2e2e;
$color-medium-grey: #444444;
$color-light-grey: #f7f7f7;
$color-dark-blue: #1e3f56;
$color-medium-blue: #007aa4;
$color-light-blue: #5fbcdb;
$color-red: #8d0b0b;
$color-green: #2d741b;


// SIZES

$max-width-section: 900px;